<ol id="dropdown1" class="dropdown-content">
  {{ range where $.Site.RegularPages.ByDate "Section" "assignments" }}
  <li> <a href={{ .Permalink }}>{{ .Title }}</a> ({{ dateFormat "2/1/2006" .Date }}). </li>
  {{ end }}
</ol>
<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">
      &nbsp; {{ .Site.Params.code }}
      <a href="https://math.iisc.ac.in/~gadgil">(Siddhartha Gadgil)</a></span>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down nav-list">
      <li class="nav-list"><a href="{{ .Site.BaseURL }}index.html">Home</a></li>
      <li class="nav-list"><a class="dropdown-trigger" href="#!" data-target="dropdown1">Assignments<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li class="nav-list"><a href="{{ .Site.BaseURL }}assignments/">All Assignments</a></li>
      <li class="nav-list"><a href="https://live.lean-lang.org/" target="_blank">Lean4 Web</a></li>
      <li class="nav-list"><a href="https://lean-lang.org/" target="_blank">Lean Home</a></li>
      <li class="nav-list"><a href="https://leanprover-community.github.io/" target="_blank">Lean Community</a></li>
      <li class="nav-list"><a href="https://math.iisc.ac.in/~gadgil/PfsProgs25doc/PfsProgs25.html" target="_blank">Course Code Docs</a></li>
      <li class="nav-list"><a href="{{ .Site.BaseURL }}notes/">Notes</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ .Site.BaseURL }}index.html">Home</a></li>
  <li><a href="{{ .Site.BaseURL }}all-lectures/">Lectures</a></li>
  <li><a href="{{ .Site.BaseURL }}assignments/">Assignments</a></li>
  <li><a href="https://math.iisc.ac.in/~gadgil/PfsProgs25doc/PfsProgs25.html" target="_blank">Course Code Docs</a></li>
  <li><a href="{{ .Site.BaseURL }}notes/">Notes</a></li>
</ul>